<mat-sidenav-container class="shell-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-header">
      <mat-icon>savings</mat-icon>
      <span>Finance Tracker</span>
    </div>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">
      <span>Finance Tracker</span>
    </mat-toolbar>
    <div class="page-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>